.vs/

Debug/

Release/

x64/

OfficeInjector/Debug/

OfficeInjector/Release/

OfficeInjector/x64/

Injected/Debug/

Injected/Release/

Injected/x64/

ShimInjector/Debug/

ShimInjector/Release/

ShimInjector/x64/

UtilsLib/Debug/

UtilsLib/Release/

UtilsLib/x64/